/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-jun-2022, 15:14:01
    Author     : Daniel Felipe
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Monda&family=Roboto:wght@100&display=swap');


*{
    margin:0;
    padding:0;
    font-family:'Bebas Neue', cursive;
}
.container{
    height:100vh;
    width:100%;
    background-color: white;
    background-position:center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 35%;
    box-sizing: border-box;
    position:relative;
    
}
.navbar1{
    position:static;
    padding-left: 82.6%;
    padding-right: -40%;
    background-color: #0F1A59;
    position: relative;
    top:-5%;
    height:10vh;
    width:100%;
    left: -200px;
    display:flex;
    margin:auto;
    align-items: center; 
}

.nav{
    /*El flex que tanto va crecer como de uno a uno*/
  flex:1;
  padding-left: 70px;

}

.nav ul li{
    position:relative;
    display:inline-block;
    list-style: none;
    margin:0px 11px;
    top:20px;
    color: white;
    font-size: 15px;
    font-family: 'Monda', sans-serif;
}


.nav ul li img{
   position:relative;
   display:inline-block;
   top:5px;
}

.navbar2{
    position: relative;
    height:15vh;
    width:150%;
    left: 70px;
    margin:auto;
    display:flex;
    align-items: center;
    top:-55px;
}

.logo{
    width: 100px;
    /*lo que hace esque el cursor pointer es que cambie el cursor para que aparezca como que hay un botón*/
    cursor:pointer;
    
}

/*Es que se aplica ese como tal*/
nav{
    /*El flex que tanto va crecer como de uno a uno*/
  flex:1;
  padding-left: 60px;  
}

/*Lo que hace esque siempre esta sucesión que le aplique los datos que están adentro

/* el inline block que se desplque en una sola linea horizontal*/

/*none es no ponerle ningun estilo y el margin*/

nav ul li{
    display:inline-block;
    list-style: none;
    margin:0px 20px;
}

nav ul li a{
    /*Quitar la linea que está debajo*/
    text-decoration: none;
    /*Ponerle color*/
    color: black;
    font-size: 20px;
    font-family: 'Monda', sans-serif;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li img{
    cursor:pointer;
}

.contenido p{
    position:relative;
    left:200px;
    font-size: 20px;
    top: -10px;
    
}

.contenido a{
    text-decoration: none;
    color: black
}
.contenido a:hover{
    text-decoration: underline;
}

.contenido2{
    position: relative;
    top:50px;
    left: 180px;
}

.contenido3{
    position: absolute;
    top: 370px;
    left: 910px;
}

.contenido h1{
    position:relative;
    top: 10px;
    left: 200px;
    color: #B81801;
    font-size: 40px;
}
.contenido img{
    top:40px;
    position:relative;
    left:190px;
    margin:0px 10px;
}



.navbar3 {
    position:static;
    padding-left: 82.6%;
    padding-right: -40%;
    background-color: #0C1440;
    position: relative;
    top:3%;
    height:5vh;
    width:100%;
    left: -200px;
    display:flex;
    margin:auto;
    align-items: center;
    color:white;
}

.navbar3 ul li{
    position:relative;
    color:black;
    top: 140px;
    font-size: 20px;
}

.navbar3 p{
padding-left: 1%;
border-radius: 10px;
padding-right: -15%;
background-color: #0C1440;
position: absolute;
color: white;
top: 450%;
height:5vh;
width: 5%;
cursor: pointer;
left: 300px;
right: -600px;
display:flex;
margin: auto;
align-items: center;
}


.navbar4 ul li{
    position:relative;
    color:black;
    top: 40px;
    font-size: 20px;
    left: 230px;
}

.navbar4 p{
padding-left: 1%;
border-radius: 10px;
padding-right: -15%;
background-color: #0C1440;
position: absolute;
top: 92.8%;
height:5vh;
width: 5%;
left: -850px;
right: -600px;
display:flex;
margin: auto;
align-items: center;
}

.navbar4 p a{
    color:white;
    text-decoration: none;
}
